<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>医药管理系统</title>
    <link rel="stylesheet" href="../css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">医药管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="self">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;" data-href="/patient/selfinfo">个人信息查看</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;" data-href="/prescription/patientPresc">我的药方</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="content">
            <form class="layui-form" lay-filter="selfinfo">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block" style="width: 120px;">
                        <input type="text" name="anoName" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="gender" value="男" title="男">
                        <input type="radio" name="gender" value="女" title="女" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block" style="width: 120px;">
                        <input type="text" name="age" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">患病</label>
                    <div class="layui-input-block" style="width: 120px;">
                        <input type="text" name="disease" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="margin: 0px 0px 0px 100px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<script src="../layui.js"></script>
<script>
    document.getElementById("self").innerHTML = window.sessionStorage.getItem("username")
    //JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        var element = layui.element;
        var $ = layui.jquery;

        $("a").click(function () {
            var url = $(this).data("href");
            console.log(url)
            $("#content").load(url);

        });

    });
    layui.use(['form', 'jquery', 'layer'], function () {
        var $ = layui.jquery
        var form = layui.form;
        $.ajax({
            url: '/patient/getPatient' + '?username=' + window.sessionStorage.getItem("username"),
            type: 'get',
            cache: false,
            dataType: 'json',//返回的数据类型
            success: function (data) {
                console.log(data.data.patientName)
                form.val("selfinfo", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    "anoName": data.data.anoName // "name": "value"
                    , "gender": data.data.gender
                    , "age": data.data.age
                    , "disease": data.data.disease
                });

            },
            error: function () {
                alert("error");
            }
        })
        form.on('submit(submit)', function (data1) {
            $.ajax({
                type: "POST",
                url: "/patient/update",
                data: JSON.stringify(data1.field),
                contentType: "application/json",
                error: function (request) {
                    alert("连接错误")
                },
                success: function (data) {
                    layer.confirm("提交成功！")
                }
            })
        });


    });
</script>
</body>
</html>