<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>医药管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/login.css" media="all"/>
</head>
<body>
<!--登录背景-->
<div class="video_mask">
    <img src="common/drug.jpeg">
</div>
<div class="login">
    <h1>医药管理系统</h1>
    <form class="layui-form">
        <div class="layui-form-item">
            <input class="layui-input" name="username" placeholder="用户名" lay-verify="required" type="text"
                   autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="密码" lay-verify="required" type="password"
                   autocomplete="off">
        </div>
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input type="radio" name="role" value="管理员" title="管理员" checked="">
            <input type="radio" name="role" value="药库管理员" title="药库管理员">
            <input type="radio" name="role" value="医生" title="医生">
            <input type="radio" name="role" value="病患" title="病患">
        </div>

        <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>
    </form>
</div>

<script type="text/javascript" src="layui.js"></script>
<script type="text/javascript" src="login.js"></script>
</body>
</html>