<div>
    <table id="drugTable" lay-filter="drugTable">
    </table>
</div>

<div class="site-text" style="margin: 5%; display: none" id="window">
    <form class="layui-form" id="amount" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">入库数量</label>
            <div class="layui-input-block">
                <input type="text" id="amount1" name="amount" autocomplete="off" placeholder="请输入数量"
                       class="layui-input">
            </div>
        </div>

    </form>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="add">入库</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">出库</a>
</script>

<script>

    layui.use(['table', 'layer', 'jquery'], function () {
        var table = layui.table;
        var $ = layui.jquery
        var form = layui.form
        table.render({
            elem: '#drugTable'
            , height: 600
            , url: '/drug/all' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left'}
                , {field: 'drugName', title: '药品名称', width: 140}
                , {field: 'drugCount', title: '数量', width: 80}
                , {field: 'factory', title: '生产厂家', width: 180}
                , {field: 'price', title: '价格', width: 50}
                , {field: 'productionTime', title: '生产日期', width: 120}
                , {field: 'drugFunction', title: '功能主治', width: 250}
                , {field: 'size', title: '规格', width: 100}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 130}
            ]]
        });


        //监听行工具事件
        table.on('tool(drugTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'add') {
                // layer.prompt({
                //     formType: 2
                //     , value: data.email
                // }, function (value, index) {
                //     obj.update({
                //         email: value
                //     });
                //     layer.close(index);
                // });
                layer.open({
                    type: 1
                    , content: $("#window")
                    , btn: '确定'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        var data1 = form.val("example");
                        console.log(data)
                        var postdata = {"drugName": data.drugName, "amount": data1.amount}
                        $.ajax({
                            url: '/drug/incr',
                            type: 'post',
                            contentType: "application/json",
                            data: JSON.stringify(postdata),
                            success: function (data) {
                                table.render({
                                    elem: '#drugTable'
                                    , height: 600
                                    , url: '/drug/all' //数据接口
                                    , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                                        title: '提示'
                                        , layEvent: 'LAYTABLE_TIPS'
                                        , icon: 'layui-icon-tips'
                                    }]
                                    , page: true //开启分页
                                    , cols: [[ //表头
                                        {field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left'}
                                        , {field: 'drugName', title: '药品名称', width: 140}
                                        , {field: 'drugCount', title: '数量', width: 80}
                                        , {field: 'factory', title: '生产厂家', width: 180}
                                        , {field: 'price', title: '价格', width: 50}
                                        , {field: 'productionTime', title: '生产日期', width: 120}
                                        , {field: 'drugFunction', title: '功能主治', width: 250}
                                        , {field: 'size', title: '规格', width: 100}
                                        , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 130}
                                    ]]
                                });
                            },
                        })

                        //data是默认值
                        layer.closeAll();

                    }
                });
            }
        });

    });
</script>
